@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	background-color: #e3e3db;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-size: 1rem;
	color: #fff;
}

p {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #15161b;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	clip-path: polygon(0% 45%, 0% 45%, 0% 55%, 0% 55%);
	will-change: clip-path;

	.progress-bar {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 25vw;
		padding: 2em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #ffbb00;
	}

	.video-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vw;
		height: 100svh;
		background-color: #000;
		clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
		will-change: transform, clip-path;
		overflow: hidden;

		video {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: auto;
			height: auto;
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			object-position: 100% 0;
			opacity: 0.55;
		}
	}

	nav,
	footer {
		width: 100vw;
		padding: 1.5em;
		display: flex;
		justify-content: space-between;
		color: #fff;
		mix-blend-mode: difference;
		z-index: 2;
	}

	footer {
		justify-content: flex-end;
		gap: 1em;
	}

	.header {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h2 {
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			font-size: 7vw;
			line-height: 0.85;
			letter-spacing: -0.25rem;
			color: #fff;
		}

		p {
			margin-top: 1em;
			color: #ffbb00;
		}

		h2,
		p {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}

	.coordinates {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100vw;
		padding: 1.5em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #ffbb00;

		p {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}

	.header,
	.coordinates p {
		span {
			display: block;
			position: relative;
			transform: translateY(100%);
			will-change: transform;
		}
	}
}

.logo {
	position: absolute;
	bottom: 0;
	padding: 1.5em;
	left: 50%;
	display: flex;
	transform: translateX(-50%);
	will-change: transform;
	font-family: 'Inter', sans-serif;
	font-weight: 900;
	text-transform: lowercase;
	color: #fff;
	mix-blend-mode: difference;
	z-index: 2;

	.char {
		&.anim-out {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

			h2 {
				position: relative;
				will-change: transform;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	p {
		font-size: 13px;
	}

	.progress-bar {
		justify-content: flex-end;

		p {
			&:nth-child(1) {
				display: none;
			}
		}
	}

	.header h2 {
		font-size: 10vw;
	}

	.coordinates {
		top: 65%;
		justify-content: center;
		gap: 1em;
		color: #fff;
		opacity: 0.5;
	}
}
