* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100svh;
}

body {
	background-color: #000;
	overflow-x: hidden;
	font-family: 'Satoshi', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: normal;
	color: #fff;
}

a {
	text-decoration: none;
}

section {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	position: relative;

	h1 {
		font-size: 3rem;
		font-weight: 600;

		&.dark {
			color: blanchedalmond;
		}
	}

	&.hero {
		background-color: peachpuff;
	}

	&.salmon {
		background-color: salmon;
	}

	&.peach {
		background-color: palevioletred;
	}

	&.dark {
		background-color: #242529;
	}

	.reveal-text {
		--text-padding-x: 40vw;
		--text-padding-y: 20vh;

		@media screen and (min-width: 992px) {
			padding: var(--text-padding-x) var(--text-padding-y);
		}
		p {
			font-family: inherit;
			font-weight: 400;

			@media screen and (min-width: 320px) and (orientation: portrait) {
				padding: 3vmin;
				font-size: 6vmin;
			}

			@media screen and (min-width: 320px) and (orientation: landscape) {
				padding: 3vmax;
				font-size: 6vmin;
			}

			@media screen and (min-width: 992px) {
				font-size: 5vmin;
				padding: 1rem 0;
			}
			& > div {
				background: linear-gradient(
					to right,
					rgb(255, 255, 255) 50%,
					#313237 50%
				);
				background-size: 200% 100%;
				background-position-x: 100%;
				background-clip: text;
				-webkit-background-clip: text;

				color: transparent;
				line-height: 1.6;
			}
		}
	}

	img {
		&.rocket {
			position: absolute;
			left: 0;
			top: 0;

			@media screen and (min-width: 992px) {
				left: 50vw;
				top: calc(var(--text-padding-y) * 1.3);
				opacity: 0;
			}
		}

		&.robot {
			position: absolute;
			left: 0;
			top: 0;

			@media screen and (min-width: 992px) {
				left: 50vw;
				top: calc(var(--text-padding-y) * 3);
				opacity: 0;
			}
		}
	}
}
