.inversion-lens {
	position: relative;
	width: 300px;
	height: 450px;
	border-radius: 10px;
	overflow: hidden;
	transform: rotate(5deg);

	img {
		width: 100%;
		height: auto;
		display: none;
		object-fit: cover;
		object-position: center;
	}
}
